[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "2.6"
pillow = "3.10"
scikit-image = "0.18"
tqdm="4.62"
numpy="1.21"
ipython = "8.1"
matplotlib = "3.3.3"
imageio = "2.16"
keras = "2.8"
pytorch-fid = "0.2"
pydot-ng = "2.0"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
