[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow-gpu = "2.6"
pillow = "3.10"
scikit-image = "0.18"
tqdm="4.62"

[dev-packages]

[requires]
python_version = "3.9"
